.registration__input {
    font-family: 'Inter', 'Arial', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    margin: 0 auto 30px 0;
    padding-bottom: 9px;
    border: none;
    border-bottom: 1px solid rgba(243, 238, 238, 0.531);
    width: 100%;
    background-color: transparent;
    color: #CCCCCC;
 

}