.button_view_header {
background-color: transparent;
font-weight: 400;
font-size: 18px;
line-height: 22px;
font-family: 'Inter', 'Arial', sans-serif;
border: none;
color: #A9A9A9;
margin: 51px 0 auto 24px;
padding: 0;
text-decoration: none;

}

@media screen and (max-width: 875px) {
    .button_view_header {
 padding: 0;
 margin: 0;
     }
}

.button_view_header:hover {
    opacity: 80%;
    transition: opacity 0.3s linear;
    cursor: pointer;
}